.spinner-border {
  /** 边框环绕效果 */
  @include define-animation(spinner-border) {
    0%,
    100% {
      clip-path: inset(0 0 98% 0);
      border-color: $primary-color;
    }
    25% {
      clip-path: inset(0 98% 0 0);
      border-color: $danger-color;
    }
    50% {
      clip-path: inset(98% 0 0 0);
      border-color: $warning-color;
    }
    75% {
      clip-path: inset(0 0 0 98%);
      border-color: $success-color;
    }
  }
  &:before {
    content: '';
    @include position(absolute, -8px, -8px, -8px, -8px);
    @include border(2px solid $primary-color, 8px);
    @include use-animation(spinner-border 6s infinite linear);
  }
  &::after {
    content: '';
    @include position(absolute, -8px, -8px, -8px, -8px);
    @include border(2px solid $primary-color, 8px);
    @include use-animation(spinner-border 6s infinite -3s linear);
  }
}
