.spinner-border {
  /** 边框环绕效果 */
  @include define-animation(spinner-border) {
    0%,
    100% {
      clip-path: inset(0 0 98% 0);
      border-color: $primary-color;
    }
    25% {
      clip-path: inset(0 98% 0 0);
      border-color: $danger-color;
    }
    50% {
      clip-path: inset(98% 0 0 0);
      border-color: $warning-color;
    }
    75% {
      clip-path: inset(0 0 0 98%);
      border-color: $success-color;
    }
  }
  &:before {
    content: '';
    @include position(absolute, -8px, -8px, -8px, -8px);
    @include border(2px solid $primary-color, 8px);
    @include use-animation(spinner-border 6s infinite linear);
  }
  &::after {
    content: '';
    @include position(absolute, -8px, -8px, -8px, -8px);
    @include border(2px solid $primary-color, 8px);
    @include use-animation(spinner-border 6s infinite -3s linear);
  }
}

@mixin bg-fade() {
	@include define-animation(bg-fade)	{
 		0% {
    	opacity: 0;
    	transform: scale(1.25);
    	animation-timing-function: ease-out;
  	}
  	12.5% {
    	opacity: 1;
    	transform: scale(1);
    	animation-timing-function: ease-out;
  	}
		19.25% {
			transform: scale(1.05);
    	animation-timing-function: ease-in;
		}
  	25% {
    	opacity: 1;
    	transform: scale(1);
    	animation-timing-function: ease-in;
  	}
  	37.5% {
    	opacity: 0;
    	transform: scale(1.25);
  	}
  	100% {
    	opacity: 0;
  	}
	}
}