.spinner-border {
  /** 边框环绕效果 */
  @mixin custom {
    content: '';
    @include position(absolute, -8px, -8px, -8px, -8px);
    @include border(2px solid $primary-color-c, 8px);
  }
  @include define-animation(spinner-border) {
    0%,
    100% {
      clip-path: inset(0 0 98% 0);
      border-color: #377af5;
    }
    25% {
      clip-path: inset(0 98% 0 0);
      border-color: #d53e33;
    }
    50% {
      clip-path: inset(98% 0 0 0);
      border-color: #fbb300;
    }
    75% {
      clip-path: inset(0 0 0 98%);
      border-color: #399953;
    }
  }
  &:before {
    @include custom;
    @include use-animation(spinner-border 6s infinite linear);
  }
  &::after {
    @include custom;
    @include use-animation(spinner-border 6s infinite -3s linear);
  }
}