$primary-color: #409eff;
$primary-color-a: rgb(83, 168, 255);
$primary-color-b: rgb(102, 177, 255);
$primary-color-c: rgb(121, 187, 255);
$primary-color-d: rgb(140, 197, 255);
$primary-color-e: rgb(160, 207, 255);
$primary-color-f: rgb(179, 216, 255);
$primary-color-g: rgb(198, 226, 255);
$primary-color-h: rgb(217, 236, 255);

$success-color: #67c23a;
$success-color-a: rgb(225, 243, 216);
$success-color-b: rgb(240, 249, 235);

$info-color: #909399;
$info-color-a: rgb(233, 233, 235);
$info-color-b: rgb(244, 244, 245);

$warning-color: #e6a23c;
$warning-color-a: rgb(250, 236, 216);
$warning-color-b: rgb(253, 246, 236);

$danger-color: #f56c6c;
$danger-color-a: rgb(253, 226, 226);
$danger-color-b: rgb(254, 240, 240);

$font-color: #303133;
$font-color-a: #606266;
$font-color-b: #909399;
$font-color-c: #c0c4cc;

$border-color: #dcdfe6;
$border-color-a: #e4e7ed;
$border-color-b: #ebeef5;
$border-color-c: #f2f6fc;
