/* 页面容器 */
html,
body,
#app {
  @include scroll-bar;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box !important;
}

body {
  /* drawer 样式，组件有scope限制 */
  .el-overlay {
    z-index: 300000 !important;
  }
  .el-overlay > .el-drawer > .el-drawer__body {
    @include layout(100%, 100%, 0, 28px 0 18px 0);
    @include flex-box(column, space-between, center);

    .collapse-container {
      @include flex-box(column, space-between, center);
      .el-menu {
        border-right: none !important;
      }
      .mb {
        margin-bottom: 36px;
      }
    }
  }
  .el-popper {
    z-index: 500000 !important;
  }
}

/* 使用怪异盒模型 */
* {
  box-sizing: border-box !important;
}

/* 列表格式化 */
ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $font-color-a;
  &:hover {
    color: $font-color;
  }
}

/* html5元素 */
footer,
header,
hgroup,
nav,
main,
article,
aside,
details,
menu,
section,
figure,
figcaption {
  display: block;
}

:root {
  /* 字体大小 */
  --waline-font-size: 16px;

  /* 常规颜色 */
  --waline-white: #fff;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;

  /* 主题色 */
  --waline-theme-color: #27ae60;
  --waline-active-color: #2ecc71;

  /* 布局颜色 */
  --waline-color: $font-color;
  --waline-bgcolor: #f5f5f5;
  --waline-bgcolor-light: #f8f8f8;
  --waline-bgcolor-hover: #f0f0f0;
  --waline-border-color: #ddd;
  --waline-disable-bgcolor: #f8f8f8;
  --waline-disable-color: #bbb;
  --waline-code-bgcolor: #282c34;

  /* 特殊颜色 */
  --waline-bq-color: #f0f0f0;

  /* 头像 */
  --waline-avatar-size: 3.25rem;
  --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);

  /* 徽章 */
  --waline-badge-color: #3498db;
  --waline-badge-font-size: 0.775em;

  /* 信息 */
  --waline-info-bgcolor: #f8f8f8;
  --waline-info-color: #999;
  --waline-info-font-size: 0.625em;

  /* 渲染选择 */
  --waline-border: 1px solid var(--waline-border-color);
  --waline-avatar-radius: 8px;
  --waline-box-shadow: none;
}